body{
    background: #00B9EF;

}
.Header{
    padding-left: 8rem;
    margin: 0rem 18rem 0rem 18rem;
    background: #ADACAC;

}
#Indx-foot{
    background: black;
    color: white;
    text-align: center;
}
.Header .DescargaBtn {
    position: absolute;
    top: 22%;
    left: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FF8A16;
    color: white;
    font-size: 46px;
    padding: 40px 70px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Anton', sans-serif;
  }

  .Header .DescargaBtn:hover {
    background-color: #F58516;
  }
  .secondPart{
      background: #ADACAC;
      margin: 0rem 8rem 0rem 8rem;
      
      
  }

  #textDivierte{
    color: #FF0000;
    padding-top: 2rem; 
    text-align: center;
    text-transform: uppercase;
  }
  #textoJuego{
      text-align: center;
      margin: 5rem 5rem 0rem 36rem;
 
  }

  #bananaGif{
    transform: translate(90%, -50%);
      width: 20%;
      height: 20%;
  }

  #piePagina{
      background: black;
      color:white;
      padding-bottom: .6rem;
      text-align: center;
  }